body{
	font-family: "Signika", Verdana, Tahoma, Arial, Sans-Serif;
	text-align:  center;
	background-color: steelblue;
	color: white;
	margin: 0;
	padding: 0;
}

h1{
	color: white;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	width: inherit;
	margin: 0 auto;
	padding:  20px;
}

h2 {
	color: white;
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 8px;
	margin-bottom: 15px;
	text-transform: capitalize;
}

nav ul{
	background-color: white;
	color: steelblue;
	text-align: center;
	width: 500;
	display: block;
	padding: 20px;
	list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
}

ul {
	display: block;
	padding: 20px;
	background-color: white;
	list-style-type: none;
	margin: 20px;
	overflow: hidden;
}

li a{
	text-decoration: none;
	color: skyblue;
	font-weight: bold;
	font-size: 20px;
	display: inline;
	float: inherit;
	width: 60px;	
}

li a:hover {
	background-color: #555;
	color: white;
}

.wrapper {
  width: 900px;
  margin: 40px auto 0 auto;
}

table {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
}

th {
  color: #fff;
  background-color: skyblue;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
}

td {
  color: #040c16;
  background-color: white;
  font-size: 18px;
  text-align: left;
  padding: 20px;
}

footer{
	color: white;
	font-size: 10px;
	text-align:  center;
	border:  solid 5px white;
	border-radius: 5px;
	display: inline-block;
	padding: 12px;
}
